# Neighborhoods in Toronto - I

In [11]:
# Import Panda Library
import pandas as pd

In [12]:
# Scrape the Wikipedia page and store in data frame
link = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
df = pd.read_html(link,header=0)[0]
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [13]:
# Ignore cells with a borough that is Not assigned
df = df[df.Borough != 'Not assigned']

In [14]:
# Get the index of neighbourhood that is not assigned.
index = df.loc[df['Neighbourhood']=='Not assigned'].index[0]
index

8

In [15]:
# If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.
df['Neighbourhood']= df['Neighbourhood'].replace('Not assigned', 'Queen\'s Park') 
df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

In [16]:
# Convert type as String
df['Postcode'] = df['Postcode'].astype(str)
df['Borough'] = df['Borough'].astype(str)
df['Neighbourhood'] = df['Neighbourhood'].astype(str)

In [17]:
#  Two rows will be combined into one row with the neighborhoods separated with a comma.
df.set_index(['Postcode','Borough'],inplace=True)
df = df.groupby(level=['Postcode','Borough'], sort=False).agg( ','.join)

In [18]:
# Reset index
df = df.reset_index()
df.head()

  Postcode           Borough                    Neighbourhood
0      M3A        North York                        Parkwoods
1      M4A        North York                 Victoria Village
2      M5A  Downtown Toronto         Harbourfront,Regent Park
3      M6A        North York  Lawrence Heights,Lawrence Manor
4      M7A      Queen's Park                     Queen's Park

In [19]:
# Dataframe Shape
df.shape

(103, 3)